In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# importing datasets for recommendation engines
books = pd.read_csv('./data/books.csv')
users = pd.read_csv('./data/users.csv')
ratings = pd.read_csv('./data/ratings.csv')

C:\Users\Dell\AppData\Local\Temp\ipykernel_13800\2514963311.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('./data/books.csv')

In [5]:
users.head(1)

   User-ID            Location  Age
0        1  nyc, new york, usa  NaN

In [6]:
ratings.head(1)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0

In [4]:
books.head(1)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...